.btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 20px;

    background-color: #12130D;
    font-family: "Golos Text", serif;
}

.btn:hover {
    background-color: #181913;
}

.o-btn {
    padding: 10px 20px;
    border: 2px solid #F6F6EC;
    border-radius: 8px;
}

.o-btn:hover {
    background-color: #181913;
}