.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title-block a {
    text-align: center;
    width: fit-content;
}

.exhibitions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.exhibition {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: start;
    border-bottom: 1px solid #181913;
    /* Цвет линии */
}

.cover {
    width: 240px;
    height: 180px;
    border-radius: 10px;
}

.exhibitions p,
h3 {
    color: #181913;
}