.ex-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.cover {
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h2 {
    margin-bottom: 20px;
}

.text p {
    border-bottom: 1px solid #000;
    /* Цвет линии */
    padding-bottom: 10px;
    /* Отступ снизу */
    margin-bottom: 10px;
    /* Отступ после линии */
}

.actions {
    display: flex;
    gap: 10px;
}

.actions .buy {
    background-color: #ff5722;
}

#ticketForm {
    font-family: "Golos Text", serif;
    border: 2px solid #12130D;
    display: none;
    position: fixed;
    /* Позиционирование формы поверх контента */
    z-index: 1;
    /* Установка формы поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    /* Ширина полного экрана */
    height: 100%;
    /* Высота полного экрана */
    overflow: auto;
    /* Включение прокрутки, если необходимо */
    background-color: rgb(0, 0, 0);
    /* Цвет фона */
    background-color: rgba(0, 0, 0, 0.4);
    /* Черный фон с небольшой прозрачностью */
}

form input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #12130D;
}

/* Модальное содержимое/бокс */
#ticketForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 15% auto;
    /* 15% от верхнего края и центрировано */
    padding: 20px;
    width: 30%;
    /* Ширина модального содержимого */
}

#ticketForm main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#ticketForm .form-actions {
    display: flex;
    gap: 10px;
}

.form-actions button {
    font-size: 14px;
    font-weight: 500;
    font-family: "Golos Text", serif;
    border: 2px solid #12130D;
    border-radius: 10px;
    padding: 10px 20px;
}

.form-actions button:hover {
    background-color: #12130D;
    color: #fff;
}

.price {
    font-size: 24px;
}